* {
    box-sizing: border-box;
}

body{
	background: url("../img/background.jpg");
	background-size: cover;
	margin: 0;
	font-size: 14px;
	font-family: Arial, Helvetica, sans-serif;
}

@keyframes headline {
	0% {color: white; background-color: red;}
	25% {color: black; background-color: black;}		
	50% {color: white; background-color: blue;}
	75% {color: black; background-color: black;}	
	100% {color: white; background-color: red;}
}

h1{
	margin: auto;
	text-align: center;
	text-transform: uppercase;
	font-size: 5em;
	animation: headline 10s ease-in-out infinite;
}


#body{
	position: relative;
}

#imagecontent{
	max-width: 1000px;
	margin: auto;
}

.row{
	height: 420px;
}

.image{
	width: 25%;
	float: left;
	margin-top: 50px;
	padding: 10px;
	position: relative;
	overflow: hidden;
	height: 320px;
	transition: height 0.5s ease-in-out;
	background-color: none;

}

.text{
	position: absolute;

}

.image img{
	display: block;
	width: 100%;
	height: 300px;
	filter: sepia(50%);
	border: 2px solid rgb(66, 50, 41);
}

img.unknown:hover{
	filter: sepia(0);
}

img.dead:hover{
	filter: sepia(0);
	filter: grayscale(100%);
}

.image:hover{
	height: 370px;
}
