body{
	color: #c7d5e0;
	background-image: url("../img/bg.jpg");
	background-color: #171a21;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 12px;
    margin: 50px auto;
    text-decoration: none;
    max-width: 1000px;
}

img{
	max-width: 500px;
	margin: 10px;
}

h1{
    text-align: center;
    text-transform: uppercase;
    font-size: 2em;
}

.header{
        text-transform: uppercase;
        font-size: 14px;
        color: #b8b6b4;
        margin-right: 40px;
        text-decoration: none;
        font-weight: bold;
}

.header:hover{
                color: white;
}

.header:active{
                color: gray;
}

img#logo{
			margin: 0px;
}

#logo:hover{
            opacity: 0.25;
}

#logo:active{
            opacity: 0.5;
}