*{
	box-sizing: border-box;
}

h1{
	font-size: 24px;
}

#menu a{
		font-size: 20px;
		color: pink;
		text-decoration: none;
}

#menu a:hover, #menu a.active {
	color: black;
}

#menu a.active{
				font-weight: bold;
}

img{
	max-width: 100%;
}

.wrap{
		max-width: 1000px;
		margin: auto;
}