.box{
		padding: 15px;
		border: 1px solid #696969;
		border-top-width: 10px;
		float: left;
		width: 33.333%;
}

.info{
		border-color: green;
}

.info span{
			color: green;
}

.contact{
			border-color: blue;
}

.contact span{
				color: blue;
}

.company{
			border-color: red;
}

.company span{
				color: red;
}

span{
		font-weight: bold;
}
