* {
    box-sizing: border-box;
}

html{
	border: 5px solid rgb(242, 242, 242);
}

body{
	background-color: rgb(12, 12, 12);
	margin: 0;
	padding: 0;
	background-image: url("../img/background.png");
	font-size: 14px;
	font-family: Arial, Helvetica, sans-serif;
}

#content{
			width: 100%;
			margin: auto;
		}

#imagecontent, #bannercontent, #logo, #menu{
	max-width: 1000px;
	margin: auto;
}

#header{
		background-color: rgb(12, 12, 12);
		height: 150px;
		width: 100%;
		background-image: url("../img/light2.png");
		background-size: auto;
		background-repeat: no-repeat;
		background-position: center top;
		border: 5px solid rgb(242, 242, 242);
}

#logo:hover{
			filter: brightness(150%);
}

#logo:active{
			filter: brightness(200%);
}

#logo img{
		max-width: 110px;
		float: left;
		margin-top: 20px;
		margin-bottom: 20px;
}

#banner img{
			max-width: 100%;
			float: left;
			border: 5px solid rgb(242, 242, 242);
}

#menu a{
		font-size: 1.5em;
		text-decoration: none;
		float: left;
		margin-top: 50px;
		margin-bottom: auto;
		margin-left: 2vw;
		color: rgb(242, 242, 242);
		border: 5px solid rgb(242, 242, 242);
		background-color: rgb(12, 12, 12);
		padding-left: 10px;
		padding-right: 10px;
		padding-top: 5px;
		padding-bottom: 5px;
		filter: brightness(100%);
}

#menu a:hover{
			filter: brightness(125%)

}

#menu a:active{
			filter: brightness(150%);
}

#menu a#active{
	filter: brightness(150%);
}
.image{
		float: left;
		height: 600px;
		width: 33.33%;
		border: 5px solid rgb(242, 242, 242);
		background-color: rgb(12, 12, 12);
		background-image: url("../img/light1.png"), url("../img/background2.png");
		background-repeat: no-repeat, no-repeat;
		background-position: center, bottom;
		background-size: cover, cover;
		position: relative;
}

.image img{
	max-width: 300px;
	max-height: 450px;
	filter: brightness(10%);
	margin-left: auto;
	margin-right: auto;
	position: absolute;
	bottom: 25px;
	left: 0;
	right: 0;
	cursor: pointer
}

.image img:hover{
					filter: brightness(100%);
}

.cursor{
		cursor: pointer
}