body{
	background-color: rgb(13, 13, 11);
	margin: auto;
	background-image: url("../img/background.png");
	font-size: 14px;
	font-family: Arial, Helvetica, sans-serif;
}

.content{
			max-width: 1000px;
			margin: auto;
}

.header{
		background-color: black;
		height: 150px;
		width: 100%;
		background-image: url("../img/light4.png");
		background-size: auto;
		background-repeat: no-repeat;
		background-position: center top;
}

.logo, .menu{
			max-width: 1000px;
			margin: auto;
}

.logo:hover{
			filter: brightness(150%);
}

.logo:active{
			filter: brightness(200%);
}



.logo img{
		max-width: 150px;
		float: left;
		margin: auto;
}

.banner img{
			max-width: 1000px;
			margin: auto;
}

.image{
		float: left;
		height: 600px;
		width: 33.33%;
		border: 3px groove #696969;
		box-sizing: border-box;
		margin: auto;
		background-color: black;
		background-image: url(../img/light6.png), url(../img/background2.png);
		background-repeat: no-repeat, no-repeat;
		background-position: center, bottom;
		background-size: cover, cover;
		position: relative;
}

.image img{
	max-width: 300px;
	max-height: 450px;
	opacity: 0.1;
	margin-left: auto;
	margin-right: auto;
	display: block;
	vertical-align: bottom;
	position: absolute;
	bottom: 0;
	left: 0;
	right: 0;
}

.image img:hover{
					opacity: 1;
}

.menu a{
		font-size: 2em;
		text-decoration: none;
		float: left;
		margin-top: 50px;
		margin-bottom: 50px;
		margin-left: 50px;
		color: #8d020d;
		border: 2px groove #8d020d;
		background-color: rgb(13, 13, 11);
		padding: 3px;
}

.menu a:hover{
			filter: brightness(150%)
}

.menu a:active{
			filter: brightness(200%);
}
