* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

html {
    width: 100%;
    height: 100%;
}

body {
    /* background: url("../img/background.jpeg") no-repeat center bottom fixed; */
    background-color: #232323;
    margin: 0;
    padding: 0;
    font-size: 16px;
    font-family: 'Roboto', sans-serif;
    color: #ffffff;
    line-height: 19px;
}

h1 {
    font-size: 50px;
    line-height: 59px;
}

h2 {
    font-size: 30px;
    line-height: 35px;
}

header {
    position: absolute;
    width: 100%;
}

nav.bg-dark {
    background-color: rgba(144,19,254, 0.75) !important;
    padding-left: 45px!important;
}

nav.bg-dark .row {
    width: 100%;
}

nav.bg-dark li a {
    margin-right: 15px;
    margin-left: 15px;
    color: #ffffff!important;
    font-weight: normal;
}

nav.bg-dark li.dropdown.show .dropdown-menu.show {
    /*min-width: 0;*/
    /*width: 100%;*/
}

nav.bg-dark input.form-control {
    font-size: 18px;
    line-height: 21px;
    font-weight: normal;
    padding-left: 38px;
    padding-top: 35px;
    padding-bottom: 39px;
    padding-right: 0;
    background: #EBEBEB;
    border: none;
}

nav.bg-dark input.form-control:focus {
    box-shadow: none;
}

nav.bg-dark i.fa-search {
    font-size: 27px;
    color: #9013FE;
}

nav.bg-dark .account-button {
    background: #FFFFFF;
    border-radius: 0!important;
    padding: 12px!important;
    border: none;
    color: #9013FE;
    text-decoration: none;
}

nav.bg-dark .account-button p {
    font-size: 16px;
    line-height: 19px;
}

nav.bg-dark .searching-button {
    background: #EBEBEB;
    border-radius: 0;
    padding: 0;
    padding-right: 23px;
}

nav.bg-dark input.form-control::placeholder {
    /*font-size: 18px;*/
    font-style: italic;
    font-weight: 100;
    color: #ADADAD;
}

section .top {
    background: url('../img/luther.png') no-repeat center top;
    background-size: cover;
    height: 100vh;
    padding-top: 135px;
    padding-left: 45px;
}

.score h1,
.score h2 {
    display: inline;
    color: #FEC509;
}

@media (max-width: 1199px) {

}

@media (max-width: 767px) {

}

@media (max-width: 575px) {

}

@media (min-width: 576px) {

}

@media (min-width: 768px) {

}

@media (min-width: 992px) {

}

@media (min-width: 1200px) {

}

