* {
    box-sizing: border-box;
}

html{
	width: 100%;
	height: 100%;
}

body{
	background: url("../img/6.png");
	background-size: cover, cover, cover;
	margin: 0;
	padding: 0;
	font-size: 14px;
	font-family: Arial, Helvetica, sans-serif;
}

#body{
	max-width: 1000px;
	margin: auto;
	position: relative;
}

#content img{
	padding: 1%;
	max-width: 1000px;
	width: 100%;
	height: auto;
	position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
}

#imagecontent{
	position: relative;
}

@keyframes blood {
	0%, 50% {
		filter: brightness(0%);
		opacity: 0;
	}

	70% {
		filter: brightness(50%);
		opacity: 1;
	}

	100% {
		filter: brightness(25%);
		opacity: 1;
	}
}

#dying img{
	filter: brightness(25%);
	animation: blood 8s linear;	
}

@keyframes fade {
	0% {
		opacity: 0;
	}
	50% {
		opacity: 0.5;
	}
	100% {
		opacity: 1;
	}
}

#text {
	animation: fade 4s linear;
}

@keyframes ghost1{
	0% {
		opacity: 0;
		transform: translate(210%, -110%);
	}
	5% {
		opacity: 0.75;
		transform: translate(200%, -110%);

	}

	30%{
		transform: translate(50%, 0) scale(1.2, 1.2);
	}


	70%{
		transform: translate(-150%, 0) scale(1.2, 1.2);
	}

	95%{
		opacity: 0.75;
		transform: translate(-290%, -110%)  scale(1, 1);
	}
	100% {
		opacity: 0;
		transform: translate(-300%, -110%);
	}
}

#ghost1 img{
	width: auto;
	transform: translate(210%, -110%);
	position: fixed;
	top: 50%;
    left: 50%;
    opacity: 0;
    animation: ghost1 15s linear infinite;
    animation-delay: 8s;
}

@keyframes ghost2{
	0% {
		opacity: 0;
		transform: translate(-45%, -35%);
	}
	
	5% {
		opacity: 1;
		transform: translate(-45%, -35%);

	}

	10% {
		opacity: 1;
		transform: translate(-45%, -35%);

	}

	15%{
		opacity: 0;
		transform: translate(-45%, -35%);
	}

	20%{
		opacity: 0;
		transform: translate(60%, 0%) scale(1.25, 1.25);
	}

	25%{
		opacity: 1;
		transform: translate(60%, 0%) scale(1.25, 1.25);
	}

	30%{
		opacity: 1;
		transform: translate(60%, 0%) scale(1.25, 1.25);
	}

	35%{
		opacity: 0;
		transform: translate(60%, 0%) scale(1.25, 1.25);
	}

	40%{
		opacity: 0;
		transform: translate(250%, 40%) scale(1.5, 1.5);
	}

	45%{
		opacity: 1;
		transform: translate(250%, 40%) scale(1.5, 1.5);
	}

	50%{
		opacity: 1;
		transform: translate(250%, 40%) scale(1.5, 1.5);
	}

	55%{
		opacity: 0;
		transform: translate(250%, 40%) scale(1.5, 1.5);
	}

	60%{
		opacity: 0;
		transform: translate(90%, 75%) scale(1.8, 1.8);
	}

	65%{
		opacity: 1;
		transform: translate(90%, 75%) scale(1.8, 1.8);
	}

	70%{
		opacity: 1;
		transform: translate(90%, 75%) scale(1.8, 1.8);
	}

	75%{
		opacity: 0;
		transform: translate(90%, 75%) scale(1.8, 1.8);
	}

	80%{
		opacity: 0;
		transform: translate(-115%, 75%) scale(2,2);
	}

	85%{
		opacity: 1;
		transform: translate(-115%, 75%) scale(2,2);
	}

	90%{
		opacity: 1;
		transform: translate(-115%, 75%) scale(2,2);
	}

	95%{
		opacity: 0;
		transform: translate(-115%, 75%) scale(2,2);
	}

	100%{
		opacity: 0;
		transform: translate(-45%, -35%);
	}
}

#ghost2 img{
	width: auto;
	transform: translate(-45%, -35%);
	position: fixed;
	top: 50%;
    left: 50%;
    opacity: 0;
    animation: ghost2 60s linear infinite;
}

#ghost3 img{
	width: auto;
	transform: translate(125%, 30%);
	position: fixed;
	top: 50%;
    left: 50%;
    opacity: 0.75;
}

@keyframes float1 {
	0% {
		transform: translate(-210%,-250%);
	}
	50% {
		transform: translate(-210%,-260%);
	}
	100% {
		transform: translate(-210%,-250%);
	}
}


#imagecontent #H{
	position: fixed;
	font-family: 'Frijole', cursive;
	font-weight: bold;
	font-size: 4em;
	color: gray;
	top: 50%;
    left: 50%;
    transform: translate(-210%,-250%);
    animation: float1 2s linear infinite;
    filter: brightness(125%);
}

@keyframes float2 {
	0% {
		transform: translate(-160%,-250%);
	}
	50% {
		transform: translate(-160%,-260%);
	}
	100% {
		transform: translate(-160%,-250%);
	}
}

#imagecontent #a{
	position: fixed;
	font-family: 'Frijole', cursive;
	font-weight: bold;
	font-size: 4em;
	color: gray;
	top: 50%;
    left: 50%;
    transform: translate(-160%,-250%);
    animation: float2 2s linear infinite;
    animation-delay: 0.2s;
    filter: brightness(125%);
}

@keyframes float3 {
	0% {
		transform: translate(-50%,-250%);
	}
	50% {
		transform: translate(-50%,-260%);
	}
	100% {
		transform: translate(-50%,-250%);
	}
}

#imagecontent #p{
	position: fixed;
	font-family: 'Frijole', cursive;
	font-weight: bold;
	font-size: 4em;
	color: gray;
	top: 50%;
    left: 50%;
    transform: translate(-50%,-250%);
    animation: float3 2s linear infinite;
    animation-delay: 0.4s;
    filter: brightness(125%);
}

@keyframes float4 {
	0% {
		transform: translate(70%,-250%);
	}
	50% {
		transform: translate(70%,-260%);
	}
	100% {
		transform: translate(70%,-250%);
	}
}

#imagecontent #p2{
	position: fixed;
	font-family: 'Frijole', cursive;
	font-weight: bold;
	font-size: 4em;
	color: gray;
	top: 50%;
    left: 50%;
    transform: translate(70%,-250%);
    animation: float4 2s linear infinite;
    animation-delay: 0.6s;
    filter: brightness(125%);
}

@keyframes float5 {
	0% {
		transform: translate(170%,-250%);
	}
	50% {
		transform: translate(170%,-260%);
	}
	100% {
		transform: translate(170%,-250%);
	}
}

#imagecontent #y{
	position: fixed;
	font-family: 'Frijole', cursive;
	font-weight: bold;
	font-size: 4em;
	color: gray;
	top: 50%;
    left: 50%;
    transform: translate(170%,-250%);
    animation: float5 2s linear infinite;
    animation-delay: 0.8s;
    filter: brightness(125%);
}

@keyframes float6 {
	0% {
		transform: translate(-300%,-150%);
	}
	50% {
		transform: translate(-300%,-160%);
	}
	100% {
		transform: translate(-300%,-150%);
	}
}

#imagecontent #H2{
	position: fixed;
	font-family: 'Frijole', cursive;
	font-weight: bold;
	font-size: 4em;
	color: gray;
	top: 50%;
    left: 50%;
    transform: translate(-300%,-150%);
    animation: float6 2s linear infinite;
    filter: brightness(125%);
}

@keyframes float7 {
	0% {
		transform: translate(-310%,-150%);
	}
	50% {
		transform: translate(-310%,-160%);
	}
	100% {
		transform: translate(-310%,-150%);
	}
}

#imagecontent #a2{
	position: fixed;
	font-family: 'Frijole', cursive;
	font-weight: bold;
	font-size: 4em;
	color: gray;
	top: 50%;
    left: 50%;
    transform: translate(-310%,-150%);
    animation: float7 2s linear infinite;
    animation-delay: 0.2s;
    filter: brightness(125%);
}

@keyframes float8 {
	0% {
		transform: translate(-370%,-150%);
	}
	50% {
		transform: translate(-370%,-160%);
	}
	100% {
		transform: translate(-370%,-150%);
	}
}

#imagecontent #l{
	position: fixed;
	font-family: 'Frijole', cursive;
	font-weight: bold;
	font-size: 4em;
	color: gray;
	top: 50%;
    left: 50%;
    transform: translate(-370%,-150%);
    animation: float8 2s linear infinite;
    animation-delay: 0.4s;
    filter: brightness(125%);
}

@keyframes float9 {
	0% {
		transform: translate(-210%,-150%);
	}
	50% {
		transform: translate(-210%,-160%);
	}
	100% {
		transform: translate(-210%,-150%);
	}
}

#imagecontent #l2{
	position: fixed;
	font-family: 'Frijole', cursive;
	font-weight: bold;
	font-size: 4em;
	color: gray;
	top: 50%;
    left: 50%;
    transform: translate(-210%,-150%);
    animation: float9 2s linear infinite;
    animation-delay: 0.6s;
    filter: brightness(125%);
}

@keyframes float10 {
	0% {
		transform: translate(-50%,-150%);
	}
	50% {
		transform: translate(-50%,-160%);
	}
	100% {
		transform: translate(-50%,-150%);
	}
}

#imagecontent #o{
	position: fixed;
	font-family: 'Frijole', cursive;
	font-weight: bold;
	font-size: 4em;
	color: gray;
	top: 50%;
    left: 50%;
    transform: translate(-50%,-150%);
    animation: float10 2s linear infinite;
    animation-delay: 0.8s;
    filter: brightness(125%);
}

@keyframes float11 {
	0% {
		transform: translate(50%,-150%);
	}
	50% {
		transform: translate(50%,-160%);
	}
	100% {
		transform: translate(50%,-150%);
	}
}

#imagecontent #w{
	position: fixed;
	font-family: 'Frijole', cursive;
	font-weight: bold;
	font-size: 4em;
	color: gray;
	top: 50%;
    left: 50%;
    transform: translate(50%,-150%);
    animation: float11 2s linear infinite;
    animation-delay: 1s;
    filter: brightness(125%);
}

@keyframes float12 {
	0% {
		transform: translate(260%,-150%);
	}
	50% {
		transform: translate(260%,-160%);
	}
	100% {
		transform: translate(260%,-150%);
	}
}

#imagecontent #e{
	position: fixed;
	font-family: 'Frijole', cursive;
	font-weight: bold;
	font-size: 4em;
	color: gray;
	top: 50%;
    left: 50%;
    transform: translate(260%,-150%);
    animation: float12 2s linear infinite;
    animation-delay: 1.2s;
    filter: brightness(125%);
}

@keyframes float13 {
	0% {
		transform: translate(370%,-150%);
	}
	50% {
		transform: translate(370%,-160%);
	}
	100% {
		transform: translate(370%,-150%);
	}
}

#imagecontent #e2{
	position: fixed;
	font-family: 'Frijole', cursive;
	font-weight: bold;
	font-size: 4em;
	color: gray;
	top: 50%;
    left: 50%;
    transform: translate(370%,-150%);
    animation: float13 2s linear infinite;
    animation-delay: 1.4s;
    filter: brightness(125%);
}

@keyframes float14 {
	0% {
		transform: translate(320%,-150%);
	}
	50% {
		transform: translate(320%,-160%);
	}
	100% {
		transform: translate(320%,-150%);
	}
}

#imagecontent #n{
	position: fixed;
	font-family: 'Frijole', cursive;
	font-weight: bold;
	font-size: 4em;
	color: gray;
	top: 50%;
    left: 50%;
    transform: translate(320%,-150%);
    animation: float14 2s linear infinite;
    animation-delay: 1.6s;
    filter: brightness(125%);
}