* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

html{
	width: 100%;
	height: 100%;
}

body{
	background: url("../img/background.jpeg") no-repeat center bottom fixed;
	margin: 0;
	padding: 0;
	font-size: 14px;
	font-family: Arial, Helvetica, sans-serif;
}

.menu {
	background: url("../img/menu2.jpg");
}

.menucontent{
	width: 1000px;
	margin: auto;
	overflow: auto;
	position: relative;
}

.logo{
	width: 20%;
	float: left;
}

.logo img{
	width: 100%;
	display: block;
}

.menus{
	width: 80%;
	float: left;
}

ul.menulist{
	width: 100%;

}

li.menulist{
	width: 20%;
	padding: 10px;
	margin-top: 75px;
}

.menus a{
	font-size: 1.2em;
	color: white;
	text-decoration: none;
	text-transform: uppercase;
	text-align: center;
}

ul, li{
	list-style-type: none;
	display: block;
}

li{
	float: left;

}

li a{
	display: block;
	padding: 10px;
}

li.foodmenu{
	position: relative;

}

ul.foodcontent{
	position: fixed;
	float: none;
	width: 140px;
	background-color: black;

}

.foodcontent a{
	display: block;
	font-size: 1.1em;
	text-align: center;
}

li.foodmenu:hover ul.foodcontent{
	display: block;
	z-index: 1;
}