* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

html{
	width: 100%;
	height: 100%;
}

body{
	background: url("../img/background.jpeg") no-repeat center bottom fixed;
	margin: 0;
	padding: 0;
	font-size: 14px;
	font-family: Arial, Helvetica, sans-serif;
}
